node_modules
.env

# Hardhat files
/cache
/artifacts

/contracts/uniswapv2/artifacts
/contracts/uniswapv2/libraries/artifacts
/contracts/uniswapv2/interfaces/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# subgraph - Graph CLI generated artifacts
/subgraph/build
/subgraph/generated

# subgraph - Dependency directories
/subgraph/node_modules/
/subgraph/jspm_packages/

# subgraph - Logs
/subgraph/logs
/subgraph/*.log
/subgraph/npm-debug.log*
/subgraph/yarn-debug.log*
/subgraph/yarn-error.log*

# subgraph - Optional npm cache directory
/subgraph/.npm

# subgraph - Optional eslint cache
/subgraph/.eslintcache

# subgraph - dotenv environment variables file
/subgraph/.env

# subgraph - Testing
/subgraph/coverage
/subgraph/coverage.json

# subgraph - Typechain
/subgraph/typechain
/subgraph/typechain-types

# subgraph - Hardhat files
/subgraph/cache


# frontend - dependencies
/dapp-frontend/node_modules
/dapp-frontend/.pnp
/dapp-frontend/.pnp.*
/dapp-frontend/.yarn/*
/dapp-frontend/!.yarn/patches
/dapp-frontend/!.yarn/plugins
/dapp-frontend/!.yarn/releases
/dapp-frontend/!.yarn/versions

# frontend - testing
/dapp-frontend/coverage

# frontend - next.js
/dapp-frontend/.next/
/dapp-frontend/out/

# frontend - production
/dapp-frontend/build

# frontend - misc
/dapp-frontend/.DS_Store
/dapp-frontend/*/.pem

# frontend - debug
/dapp-frontend/npm-debug.log*
/dapp-frontend/yarn-debug.log*
/dapp-frontend/yarn-error.log*
/dapp-frontend/.pnpm-debug.log*

# frontend - env files (can opt-in for committing if needed)
/dapp-frontend/.env*

# frontend - vercel
/dapp-frontend/.vercel

# frontend - typescript
/dapp-frontend/*.tsbuildinfo
/dapp-frontend/next-env.d.ts
